button,
.button {
  background-color: $main-color;
  border-radius: 50px;
  color: $white;
  font-family: $header-font-family;
  padding: $base-spacing $large-spacing;
  text-decoration: none;

  &:hover {
    background-color: #0065CC;
    color: $white;
  }
}

.form-button {
  margin-top: $small-spacing;
}
