header {
  padding: $small-spacing;
  position: fixed;
  width: 100%;
}

.site-branding {
  float: left;

  img {
    height: auto;
    width: $logo-width;
  }
}

.site-navigation {
  float: right;
}
