header {
  padding: $small-spacing;
  position: fixed;
  width: 100%;
  z-index: $header-z-index;
}

.site-branding {
  float: left;

  img {
    height: auto;
    width: $logo-width;
  }
}

.main-navigation {
  color: $white;
  float: right;
  width: unset;

  li {
    text-decoration: none;
  }
}

#site-navigation {
  width: auto;
}
