.site-section {
  display: inline-block;
  padding: $section-padding;
  width: 100%;

  &.first-section {
    padding-top: $large-spacing * 3;
  }
}

.section-padding {
  height: $large-spacing;
}

.dark-section {
  background-color: $light-gray;
}

.service-times-section {
  background-color: $black;
  color: $white;
  text-align: center;
}

.inner-container {
  clear: both;
  max-width: $site-max-width;
  margin: 0 auto;
}

.bottom-container {
  padding-top: $base-spacing;
}

.half-column {
  float: left;
  width: 45%;

  &:not(first-child) {
    margin-left: 5%;
  }

  @media (max-width: $site-max-width * 0.85) {
    margin-left: 0;
    width: 100%;

    &:not(first-child) {
      margin-left: unset;
    }
  }
}

.site-video,
.site-image {
  width: 100%;
  height: auto;
}
