main {
  padding-top: $large-spacing * 3;
}

.page-template-page-home-php main {
  padding-top: unset;
}


.site-section {
  display: inline-block;
  padding: $section-padding;
  margin-bottom: $large-spacing;
  width: 100%;
}

.dark-section {
  background-color: $light-gray;
}

.service-times-section {
  background-color: $black;
  color: $white;
  text-align: center;
}

.inner-container {
  clear: both;
  max-width: $site-max-width;
  margin: 0 auto;
}

.half-column {
  float: left;
  width: 45%;

  &:not(firt-child) {
    margin-left: 5%;
  }
}

.site-video,
.site-image {
  width: 100%;
  height: auto;
}
