h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  font-weight: 700;
}

h1 {
  font-size: $large-font-size;
}

*,
html,
body,
p {
  font-family: $base-font-family;
}

.page-title {
  font-size: $large-font-size;
}

.section-title,
.program-title {
  font-size: $medium-font-size;
  margin-bottom: $base-spacing;
}

.section-title {
  text-align: center;
}
