/* line 5, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_calendar.scss */
.simcal-current-month,
.simcal-current-year,
.simcal-icon-right:before,
.simcal-icon-left:before {
  color: #FFF;
}

/* line 9, ../sass/_calendar.scss */
.simcal-calendar-head {
  background-color: #29292C;
}
/* line 12, ../sass/_calendar.scss */
.simcal-calendar-head tr:first-of-type {
  border-bottom: none;
}
/* line 15, ../sass/_calendar.scss */
.simcal-calendar-head tr:first-of-type .simcal-nav {
  font-size: 1.5em;
  padding: 1em 0;
}

/* line 22, ../sass/_calendar.scss */
.simcal-week-day {
  background-color: #29292C;
  color: #FFF;
  font-family: "Raleway";
  padding: 1em;
}
/* line 28, ../sass/_calendar.scss */
.simcal-week-day:not(last-of-type) {
  border-right: none;
}

/* line 33, ../sass/_calendar.scss */
.simcal-day-label.simcal-day-number {
  font-family: "Raleway";
  padding: 0.5em;
  text-align: left;
}

/* line 39, ../sass/_calendar.scss */
.simcal-day {
  background-color: #FFF;
}

/* line 1, ../sass/_currentLeadership.scss */
.current-leadership {
  align-items: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-cotent: flex-start;
}

/* line 8, ../sass/_currentLeadership.scss */
.leader {
  flex: 1 0 auto;
  max-width: 230px;
}

/* line 1, ../sass/_header.scss */
header {
  padding: 0.5em;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* line 8, ../sass/_header.scss */
.site-branding {
  float: left;
}
/* line 11, ../sass/_header.scss */
.site-branding img {
  height: auto;
  width: 13em;
}

/* line 17, ../sass/_header.scss */
.main-navigation {
  color: #FFF;
  float: right;
  width: unset;
}
/* line 22, ../sass/_header.scss */
.main-navigation li {
  text-decoration: none;
}

/* line 27, ../sass/_header.scss */
#site-navigation {
  width: auto;
}

/* line 1, ../sass/_home.scss */
.hero-container {
  font-family: Raleway;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

/* line 10, ../sass/_home.scss */
.hero-video {
  height: auto;
  width: 100%;
}
/* line 14, ../sass/_home.scss */
.hero-video.tall {
  width: auto;
  height: 100%;
}

/* line 20, ../sass/_home.scss */
.hero-content {
  color: #FFF;
  position: absolute;
  left: 50%;
  text-align: center;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  top: 50%;
}

/* line 30, ../sass/_home.scss */
.hero-header {
  font-size: 3.5em;
}

/* line 34, ../sass/_home.scss */
.hero-subheader {
  font-size: 2em;
}

/* line 38, ../sass/_home.scss */
.service-times {
  margin: 0 auto;
}

/* line 42, ../sass/_home.scss */
.service-times li {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
}
/* line 47, ../sass/_home.scss */
.service-times li:not(:first-child) {
  margin-left: 0.5em;
}
/* line 51, ../sass/_home.scss */
.service-times li:first-child {
  font-family: "Raleway";
}

/* line 1, ../sass/_footer.scss */
footer {
  width: 100%;
}

/* line 5, ../sass/_footer.scss */
.footer-map-container {
  height: 18em;
  width: 100%;
}

/* line 10, ../sass/_footer.scss */
.footer-map {
  height: 100%;
  width: 100%;
}

/* line 15, ../sass/_footer.scss */
.footer-bottom {
  background-color: #29292C;
  color: #FFF;
  float: left;
  padding: 5em;
  width: 100%;
}

/* line 23, ../sass/_footer.scss */
.footer-inner-container {
  align-items: space-around;
  display: flex;
  justify-content: space-evenly;
}

/* line 29, ../sass/_footer.scss */
.footer-column {
  float: left;
  max-width: 20em;
  width: 50%;
}

/* line 35, ../sass/_footer.scss */
.footer-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* line 41, ../sass/_footer.scss */
.footer-form label,
.footer-form input[type="text"],
.footer-form textarea {
  width: 100%;
}

/* line 49, ../sass/_footer.scss */
.footer-input {
  margin-bottom: 0.5em;
}

/* line 1, ../sass/_forms.scss */
button,
.button {
  background-color: #0086FA;
  border-radius: 50px;
  color: #FFF;
  font-family: "Raleway";
  padding: 1em 2em;
  text-decoration: none;
}
/* line 10, ../sass/_forms.scss */
button:hover,
.button:hover {
  background-color: #0065CC;
  color: #FFF;
}

/* line 16, ../sass/_forms.scss */
.form-button {
  margin-top: 0.5em;
}

/* line 1, ../sass/_programs.scss */
.program-sidebar {
  float: left;
}

/* line 5, ../sass/_programs.scss */
.program-list {
  float: left;
}

/* line 9, ../sass/_programs.scss */
.program-section {
  padding: 0 5em 5em 5em;
  width: 100%;
}

/* line 14, ../sass/_programs.scss */
.program-copy {
  max-width: 735px;
}

/* line 1, ../sass/_layout.scss */
.site-section {
  display: inline-block;
  padding: 5em;
  margin-bottom: 2em;
  width: 100%;
}

/* line 8, ../sass/_layout.scss */
.dark-section {
  background-color: #F5F5F5;
}

/* line 12, ../sass/_layout.scss */
.service-times-section {
  background-color: #29292C;
  color: #FFF;
  text-align: center;
}

/* line 18, ../sass/_layout.scss */
.inner-container {
  clear: both;
  max-width: 735px;
  margin: 0 auto;
}

/* line 24, ../sass/_layout.scss */
.half-column {
  float: left;
  width: 45%;
}
/* line 28, ../sass/_layout.scss */
.half-column:not(firt-child) {
  margin-left: 5%;
}

/* line 33, ../sass/_layout.scss */
.site-video,
.site-image {
  width: 100%;
  height: auto;
}

/* line 1, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 700;
}

/* line 11, ../sass/_type.scss */
h1 {
  font-size: 3.5em;
}

/* line 15, ../sass/_type.scss */
h2 {
  font-size: 2em;
}

/* line 19, ../sass/_type.scss */
*,
html,
body,
p {
  font-family: "Lora";
}

/* line 26, ../sass/_type.scss */
.page-title {
  font-size: 3.5em;
  text-align: center;
}

/* line 31, ../sass/_type.scss */
.section-title,
.program-title {
  font-size: 2em;
  margin-bottom: 1em;
}

/* line 37, ../sass/_type.scss */
.section-title {
  text-align: center;
}

/* line 41, ../sass/_type.scss */
.page-intro {
  margin: 0 auto 2em auto;
  max-width: 367.5px;
  text-align: center;
}

/* line 47, ../sass/_type.scss */
.leader-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
